pip==23.3.1
Django==3.2.23
django-restframework==0.0.1
djangorestframework==3.14.0
huggingface-hub==0.19.4
nltk==3.8.1
numpy==1.24.3
paddlenlp==2.6.1
paddlepaddle==2.5.2
pandas==2.0.3
requests==2.31.0
transformers==4.35.2
